*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

.Pasek{
    width: 100%;
    height: 10vh;
    
    position: relative;
    position: relative;
    background: #2f2f2f82 url(../media/background.jpg);
    background-position-x: center;
    background-position-y: top;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(47, 47, 47, 0.51);
    box-shadow: 0 0 7px 0px #000;

}

.Wrapper{
    margin: 0 auto;
    width:  70%;
    height: 10vh;
}

.Logo{
    padding: 10px 0 0;
    float: left;
    width: 100%;
    height: 10vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo_image{
    width: 100px;
    height: 100px;
}
.red{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: red;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-right:170px;
    padding-top: 30px;
    padding-bottom: 0;

}

.white{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left:170px;
    padding-top: 30px;

}


.main{
    background-color: rgb(0, 0, 0);
    background-image: url(../media/main_bg.jpg);
    background-repeat: repeat-y;
    background-position: center top;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


@media (max-height: 1150px){
    .logo_image{
        width: 70px;
        height: 70px;
    }
    .red{
        font-size: 30px;
        padding-right: 140px;
    }
    .white{
        font-size: 30px;
        padding-left: 140px;
    }
    .Start{
        font-size: 50px;
    }
}

@media (max-height: 840px){
    .logo_image{
        width: 50px;
        height: 50px;
    }
    .red{
        font-size: 0px;
    }
    .white{
        font-size: 0px;
    }
}

@media (max-height: 630px){
    .logo_image{
        width: 30px;    
        height: 30px;
    }
    .red{
        font-size: 0px;
    }
    .white{
        font-size: 0px;
    }
}

@media (max-height: 420px){
    .logo_image{
        width: 20px;    
        height: 20px;
    }
    .red{
        font-size: 0px;
    }
    .white{
        font-size: 0px;
    }
}


.author{
    width: 100%;
    height: 100px;
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: rgb(36, 36, 36);
}



.opis{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1100px;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

}

.img{
    width: 100%;
    height: 100%;
    align-self: center;
    transition: transform 0.5s, opacity 0.7s;
    object-fit: cover;
    background-color: #000;
    opacity: 1;
}

.Element1, .Element2, .Element3, .Element4, .Element5, .Element6:hover{

}

.img:hover{
    transform: scale(1.1);
    background-color: black;
    opacity: 0.5;
}

.last{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.name{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    text-align: center;
    color: white;
    padding-top: 100px;
}

.videos{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 30%;
    height: 100%;
    justify-content: center;
}

.Text{
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    height: 70%;
    padding-top: 100px;

}

.yes{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
    position: relative;
}

.zdjecie{
    width: 70%;
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.yes2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
    position: relative;
    padding-top: 70px;
}



@media (max-width: 1100px){
    .yes{
        font-size: 20px;

    }
    .yes2{
        font-size: 20px;
    }
    .videos{
        padding-bottom: 200px;
    }
}

@media (max-width: 600px){
    .yes{
        font-size: 10px;

    }
    .yes2{
        font-size: 10px;
    }
    .videos{
        padding-bottom: 100px;
    }
}

@media (max-width: 400px){
    .yes{
        font-size: 5px;
        padding-right: 30px;

    }
    .yes2{
        font-size: 5px;
        padding-right: 30px;
        
    }
    .videos{
        padding-bottom: 150px;
    }
    .name{
        font-size: 45px;
    }
}

@media (max-width: 300px){
    .yes{
        font-size: 5px;
        padding-right: 30px;
        

    }
    .yes2{
        font-size: 5px;
        padding-right: 30px;
    }
    .videos{
        padding-bottom: 0px;
    }
    .name{
        font-size: 20px;
    }
    .last{
        font-size: 5px;
    }
    .logo_image{
        width: 50px;
        height: 50px;
    }
}

@media (max-height: 600px){
    .yes{
        font-size: 10px;

    }
    .yes2{
        font-size: 10px;
    }
    .videos{
        padding-top: 150px;
    }
    .opis{
        overflow: hidden;
    }
}

@media (max-height: 800px){
    .yes{
        font-size: 12px;

    }
    .yes2{
        font-size: 12px;
    }
    .videos{
        padding-top: 50px;
    }
    .opis{
        overflow: hidden;
    }
}
